.SectorIndexGraph {
    border: 0.5px solid black;
    display: grid;
    grid-template-rows: 11fr 1fr;
    margin: 10px auto;
}

.plotArea {
    position: relative;
    overflow: hidden;
}

.plotLegend {
    border: none;
}

hr {
    position: absolute;
    width: 100%;
}

p.currentValue {
    position: absolute;
    font-size: small;
}

.currentValueLine {
    border: none;
    border-top:1px dotted black;
    position: absolute;
    width: 100%;
    margin: 0;
}

.yValues {
    position: absolute;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; */
    z-index: -1;
}

.yValue {
    position: absolute;
    font-size: small;
}

.yValueLine {
    border: 0.5px solid black;
}