.SectorIndexGraph {
    display: grid;
    grid-template-rows: 1fr  11fr 1fr;
    margin: 10px auto;
}

.plotArea {
    position: relative;
    overflow: hidden;
}   

.plotLegend {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

hr {
    position: absolute;
    width: 100%;
}

p.currentValue {
    position: absolute;
    font-size: small;
}

.currentValueLine {
    border: none;
    border-top:1px dotted black;
    position: absolute;
    width: 100%;
    margin: 0;
}

.yValues {
    position: absolute;
    height: 100%;
}

.yValue {
    position: absolute;
    font-size: small;
}

.yValueLine {
    border: 0.5px solid black;
}

.periodBlock {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.periodBlockElement {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.periodBlockElement:hover {
    background-color: rgba(220, 230, 255, 0.3);
    cursor: pointer;
}

.activeElement {
    border: 0.1px solid black;
}

.activeElement:hover {
    background-color: white;
    cursor: default;
}
