.StockPriceGraph {
    height: 400px;
    display: grid;
    grid-template-rows: 10fr 1fr;
}

.plotArea {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-items: space-between;
}

.plotLegend {
    width: 100%;
    border: 1px solid black;
}