.StockPriceGraph {
    display: grid;
    grid-template-rows: 1fr 11fr 1fr;
}

.plotArea {
    width: fit-content;
    border: 1px solid black;
    display: flex;
    justify-items: space-between;
    overflow: hidden;
}

.plotLegend {
    width: 100%;
    border: 1px solid black;
}

.currentPriceLine {
    border: none;
    border-top:1px dotted black;
    position: absolute;
    width: 100%;
    margin: 0;
}

.yValueLine {
    width: 15px;
    margin: 0;
}